<div class="footer">
  <div class="container">
    <div class="user">
      <div class="user-img">
        <img src="assets\imgs\user.png" alt="user" />
      </div>
      <div class="user-info">
        <p style="color: rgba(107, 114, 128, 1)">تم الانشاء بواسطة</p>
        <p>عبدالرحيم إسماعيل ناصف</p>
      </div>
    </div>
    <div class="date">
      <p style="color: rgba(107, 114, 128, 1)">تاريخ الانشاء</p>
      <div class="date-container">
        <span>1/12/2024</span>
        <span class="separator"></span>
        <span>04:30 م</span>
      </div>
    </div>
  </div>
</div>
